@layer base, layout, component, project, utility, state;

/* base   : b-* */
/* layout : l-* */
/* object -- component : c-* */
/*        -- project   : p-* */
/*        -- utility   : u-* */
/* state  : is-* */

.material-symbol-outlined {
  user-select: none;
}

/* ---------------------- */
/*       base, reset      */
/* ---------------------- */

@layer base {
  :root {
    --off-white: #fafafa;
    --light-blue: #a3b7e0;
    --blue: #326cc2;
    --blue-gradient: linear-gradient(90deg, #1a5bbd 60%, #1089d3 100%);
    --pale-green-gradient: linear-gradient(150deg,#e7ecef 40%, #cee8ed 100%);

    --accent: var(--blue);
    accent-color: var(--accent);
  }
  /* || 一般的なスタイル */
  label {cursor: pointer;}
  input[type=checkbox] {cursor: pointer;}
  select {cursor: pointer;}
  button {cursor: pointer;}
  
  /* || カスタムエレメントの共通スタイル */
  label:has(:checked)   .not-checked {display: none;}
  label:not(:has(:checked)) .checked {display: none;}
}


/* ---------------------- */
/*         layout         */
/* ---------------------- */
@layer layout {
  html {height: 100%;}

  body {
    font-family: var(--basic-font);
    margin:0;
    height: 100%;
  }
  
  #root {
    display: flex;
    min-height: stretch;
    min-width: stretch;
    width: fit-content;
    background-color: var(--off-white);
    scrollbar-color: #ccc transparent;
  }

  main {
    display: flex;
    flex: 1;
  }
}


@layer layout {
  .l-side-bar {
    border-inline-end: 1px solid darkgray;
    box-shadow: 2px -4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
  }
  .l-side-bar__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    white-space: nowrap;
  
    position: sticky;
    top: 0;
  }
}



/* ---------------------- */
/*        component       */
/* ---------------------- */
@layer component {
  .invert-el {
    --text-color: var(--accent);
    --back-color: var(--off-white);
    --line-color: var(--text-color);
    
    --avtive-text-color: white;
    --active-back-color: var(--text-color);
    --avtive-line-color: var(--active-text-color);

    color: var(--text-color);
    background: var(--back-color);
    border: 1px solid var(--line-color);

    &:active {
      color: var(--avtive-text-color);
      background: var(--active-back-color);
      border-color: var(--avtive-line-color);
    }
  }
  .invert-el.invert {
    color: var(--avtive-text-color);
    background: var(--active-back-color);
    border-color: var(--avtive-line-color);
    &:active {
      color: var(--text-color);
      background: var(--back-color);
      border-color: var(--line-color);
    }
  }


  .round-button {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: smaller;
    font-weight: 600;
    text-align: center;
    user-select: none;

    border-radius: 3em;
    min-height: 3em;
    min-width: fit-content;
    padding: 4px 0.6em;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    
    &:hover {
      text-decoration: underline;
    }
  }

  .button-tag,
  .flag-tag {
    --text-color: var(--accent);
    --back-color: transparent;
    --line-color: hsl(from var(--text-color) h s calc(l - 10));
    
    --avtive-text-color: white;
    --active-back-color: hsl(from var(--text-color) h s calc(l + 7));
    --avtive-line-color: hsl(from var(--text-color) h s calc(l - 10));
    
    color: var(--text-color);
    background-color: var(--back-color);
    border: 1px solid var(--line-color);
    
    &:has(:checked) {
      color: var(--avtive-text-color);
      background: var(--active-back-color);
      border-color: var(--avtive-line-color);
    }

    input[type=checkbox] {display: none;}
  }

  .button-tag {
    font-size: calc(1em - 1px);
    font-weight: 500;
    align-content: center;
    white-space: nowrap;
    
    border-radius: 2px;
    padding: 2px 4px;
  
  }
  .button-tag.round {
    border-radius: 10em;
    padding-inline: 0.75em;
  }

  .flag-tag {
    font-size: calc(1em - 1px);
    font-weight: 500;
    align-content: center;
    
    border-radius: 2px;
    border-inline-start-width: 0.25em;
    padding: 2px 0.375em;
  
    &.dark {
      --active-back-color: hsl(from var(--text-color) h s calc(l - 20));
      --avtive-line-color: var(--text-color);
    }
  }


  .link {
    color: var(--accent);
    background-color: transparent;
    border: none;
    font-size: 1em;
    font-weight: 400;
    text-decoration: underline;
  }
}


/* ---------------------- */
/*    component - card    */
/* ---------------------- */
@layer component {
  .setting-div {
    display: grid;
    grid-template-columns: max-content auto;
    align-items: center;
    gap: 1em;

    > :nth-child(odd) {
      color: white;
      background-color: lightslategray;
      font-size: calc(1em - 1px);
      border-radius: 4px;
      padding: 4px 0.5em;
      text-align: center;
      align-content: center;
    }
  }
}
