@layer base, component, state;

:root {
  --blue: #326cc2;
  --light-blue: #a3b7e0;
  --offwhite: #fafafa;
  --accent : var(--blue);

  --basic-font : 'Quicksand','Zen Kaku Gothic New';
  accent-color : var(--accent);
  scrollbar-gutter: stable;
}

.material-symbols-outlined {
  color: rgb(0 0 0 / 0.33);
}
button .material-symbols-outlined {
  color: currentColor;
  font-variation-settings: 'wght' 300;
}



@layer base {
  html {height: 100%;}

  body {
    margin:0;
    height: 100%;
    font-family: var(--basic-font);
  }
  
  #root {
    background-color: #fafafa;
    min-height: stretch;
    min-width: stretch;
    width: fit-content;
    display: flex;
  }

  main {
    display: flex;
    flex-grow: 1;
  }

  h1 {
    text-align: center;
    user-select: none;
    font-weight: 100;
  }
  
  h2 {
    margin-block: 1rem 0.25rem;
    font-size: larger;
    font-weight: 500;
  }

  button {
    border-radius: 4px;
    padding: 0.5rem;
    border: 1px solid currentColor;
  }
  
  textarea {field-sizing: content;}
  
  label {align-items: center;}
  
  input[type="checkbox"] {margin: 3px 3px 2px 4px;}
  input[type="file"] {display: none;}

  select {
    color: #444;
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 0.25rem;
    height: 1.5rem;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
  }

  footer {
    color: #6a7787;
    background: linear-gradient(150deg,#e7ecef 40%, #cee8ed 100%);
    border-block-start: 1px solid darkgray;
    font-size: 0.75rem;
    font-weight: 400;
    padding: 1rem 1.5rem;
  
    p {
      margin: 0;
      font-weight: unset;
    }
  }
}


/* from __utility */
@layer base {
  .multi-select {font-size: calc(1em - 2px);}

  .icon-frame {
    border: 1px solid darkgray;
    border-radius: 3px;
    padding: 0.5rem;
  }
  
  .icon {
    --size: 0.75rem;
    --line-radius: 1px;
    color: darkgray;
  }

  .select-tag {
    --fill-color: gray;
    font-size: 0.8rem;
    .modal &       {--fill-color: lightcoral;}
    .each-result & {--fill-color: lightblue;}
  }
  
  .toggle-button {
    --radius: calc(0.5rem - 1px);
    --padding: 2px;
    --color: var(--accent);
    gap: 0.5rem;
    font-weight: 500;
  
    .checked {color: var(--accent);}
    .not-checked {color: rgb(0 0 0 / 0.4);}
  }
}

/* layout */
@layer component {
  .side-menu {
    border-inline-end: 1px solid darkgray;
    box-shadow: 2px -4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    white-space: nowrap;
    user-select: none;
  }
  .side-menu-content {
    padding: 1.5rem 2.5rem;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    white-space: nowrap;
  
    position: sticky;
    top: 0;
    width: 16rem;
    height: max-content;

    button.round {
      width: 75%;
      white-space: nowrap;
    }
  }
}

@layer component {
  .round {
    color: var(--blue);
    background: var(--offwhite);
    border: 1px solid var(--light-blue);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    min-height: 2.5rem;
    min-width: fit-content;
    border-radius: 2.5rem;
    font-weight: 600;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 4px;

    &:hover {text-decoration: underline;}
    &:active, 
    &.blue {
      color: white;
      background: linear-gradient(90deg, #1a5bbd 60%, #1089d3 100%);
      border-color: white;
    }
    &.blue:active {
      color: var(--blue);
      background: var(--offwhite);
      border-color: var(--light-blue);
    }
  }

  .title {
    color: darkslategray;
    background: linear-gradient(150deg, #e7ecef 40%, #cee8ed 100%);
    border-radius: 5rem;
    margin-block: 0;
    margin-inline-start: -0.5rem;
    padding: 4px 0.75rem;
    width: max-content;
    font-weight: 500;
}
}

/* footer */
@layer component {
  footer h2 {
    font-weight: 600;
    font-size: larger;
    margin-block: 0.25rem;
  }

  footer ul {
    padding-inline-start: 2.5ch;
    margin-block: 0.5rem 0;

    li:not(:first-child) {
      margin-block-start: 0.25rem;
    }
  }

  footer table {
    border-collapse: collapse;
    font-size: small;
    letter-spacing: 0.5px;
    margin-block-start: 0.5rem;
    width: 55ch;

    tr {
      vertical-align: baseline;
      border-block: 1px solid #aaa;
    }

    th,td {
      padding: 0.25rem;
      font-weight: unset;
      text-align: left;
      tbody & {padding-block-start: 0.5rem;}
      &:first-child {width: 20%}
      &:nth-child(2){width: 20%}
    }
  }
}


@layer component {
  button.link {
    color: var(--accent);
    background-color: transparent;
    border: none;
    font-size: calc(1em - 1px);
    font-weight: 400;
    text-decoration: underline;
  }

  .two-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.5rem;
    align-items: center;
  }

  .tips {
    display: inline;
    position: relative;
    font-weight: normal;
    vertical-align: middle;

    > div:last-child {
      color: darkslategray;
      background-color: #fdfdfd;
      box-shadow: 0 3px 12px rgb(0 0 0 / 0.3);
      padding: 1rem 1.5rem;
      width: max-content;
      height: 62dvh;
      border-radius: 1rem;
      font-size: smaller;
      position: absolute;
      z-index: 10;
      bottom: -5rem;
      left: 3ch;
  
      &:not(:hover + &) {display: none;}
    }

    ul {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      max-height: stretch;
      gap: 0.25rem 2rem;
      margin: 0;
      padding-inline: 0;
    }

    li {margin-inline-start: 2ch;}
    li.ng {
      margin-inline-start: 1.25ch;
      padding-inline-start: 0.75ch;
      &::marker {
        content: '✕';
        color: #ff4c4c;
        font-weight: 900;
      }
    }
  }

  .log-wrap {
    display: grid;
    grid-template-columns: minmax(auto,10ch) minmax(auto,20ch) 1fr;
    gap: 0.5rem 1rem;
    font-size: small;
    
    > div {display: contents;}
  
    span:first-child{
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .select-tag-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    height: fit-content;
  }
  
  .footer-content {
    width: max-content;
    max-width: calc(100vw - 3rem);
    padding-block-end: 0.75rem;
    border-block-end: 1px solid #aaa;
    display: flex;
    gap: 1rem 3rem;
    flex-wrap: wrap;
    justify-self: center;
    justify-content: center;
  }
}

/* --------------------------- */


/* --------------------------- */
/*         Result Card         */
@layer component {
  .each-result {
    width: 29rem;
    border-radius: 2rem;
    corner-shape: squircle;
    border: 1px solid white;
    box-shadow: 0px 0px 10px 2px rgb(119 136 153 / 0.5);
    background-color: rgb(255 255 255 / 0.5);
    
    h3 {
      color: darksla;
      background: linear-gradient(150deg, #e7ecef 40%, #cee8ed 100%);
      font-weight: 400;
      font-size: 1.375rem;
      line-height: 1.5;
      margin-block: 0;
      padding: 0.5rem 1.5rem;
      border-radius: calc(2rem - 1px) calc(2rem - 1px) 0 0;
      corner-shape: squircle;
    }
  
    .select-tag-wrapper {margin-block: 0.5rem 1rem;} 
  }
  .each-result.all {
    grid-column: 1 / -1;
    min-width: min-content;
    max-width: 29rem;
    h3 {
      color: white;
      background: linear-gradient(90deg, #1a5bbd 60%, #1089d3 100%);
      font-size: 1.8rem;
    }
  }

  .each-result-content {padding: 1rem;}
  
  .dice-total-table,
  .dice-log-table {
    --main-color: lightslategray;
    --color: hsl(from var(--main-color) h s calc(l - 20));
  
    font-size: calc(1rem - 2px);
    color: var(--color);
  
    thead {white-space: nowrap;}
  
    th,td {
      font-weight: 500;
      padding: 0.25rem;
    }
  
    small {
      color: var(--color);
      opacity: 0.6;
      padding-inline-start: 0.5ch;
    }
    
    .C {color: #00b3ee;}
    .F {color: #ff4c4c;}
    .S {color: rgb(from var(--color) r g b / 0.5);}
    .small {font-size: small;}
  }

  .dice-total-table {
    width: stretch;
    border-collapse: collapse;
  
    thead {
      border-block-end: 1px solid darkgray;
    }
    th,td {
      padding: 0.5rem 0.75rem;
      text-align: center;
      vertical-align: baseline;
      min-width: 4ch;
    }
    tbody td {
      font-size: calc(1rem - 1px);
    }
  }
  
  .dice-log-table {
    border-spacing: 0 0.25rem;
    width: stretch;
    
    caption {
      color: darkkhaki;
      text-align: left;
      font-size: calc(1rem - 1px);
      font-weight: 500;
    }
    
    th,td {
      text-align: center;
      border-block-end: 1px solid hsl(from var(--main-color) h calc(s - 13) calc(l + 27));
    }
    
    tbody {
      margin-block-start: 0.25rem;
  
      td:first-child {
        font-size: smaller;
        color: rgb(from var(--color) r g b /0.5);
        width: 8ch;
        max-width: 8ch;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }  
      > :nth-of-type(odd) {
        background-color: rgb(from var(--main-color) r g b /0.07);
      }
    }
  
    td:nth-child(2) {
      text-align: left;
    }
  
    td:nth-child(2) ~ * {
      width:4ch;
      white-space: nowrap;
    }
  }
}
/* --------------------------- */


/* --------------------------- */
/*            modal            */
@layer base {
  .modal {
    background-color: #fafafa;
    border: 1px solid darkgray;
    border-radius: 4px;
    overflow: hidden auto;
    padding: 0;
    scrollbar-color: #ccc transparent;
    
    max-height: 90%;
    max-width: 50%;
    min-width: 20rem;
  
    header {
      padding: 1rem 1.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: hsl(0, 0%, 93%);
      position: sticky;
      top: 0;
      h2 {
        margin: 0;
        user-select: none;
      }
    }
  
    section {
      padding: 1rem 1.5rem;
      p {margin: 0;}
    }
  }
}
/* --------------------------- */
